@import "base.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@layer components {
    body {
        font-size: 14px;
    }
    .surface-ground {
        background-color: var(--surface-ground);
    }

    .surface-card {
        background-color: var(--surface-card);
    }

    .surface-overlay {
        background-color: var(--surface-overlay);
    }

}